# Project exclude paths
/.gradle/
/Client/build/
/Client/build/classes/kotlin/main/
/Common/build/
/Common/build/classes/kotlin/main/
/Server/build/
/Server/build/classes/kotlin/main/
/.idea/

# Project exclude paths
/Gateway/build/
/Gateway/build/classes/kotlin/main/